.subbanner-container {
    background-image: linear-gradient(rgb(61 61 61), rgba(146, 145, 145, 0.2)), url('../../../assets/images/bg-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 20vh;
    background-attachment: fixed;
}