.banner-container {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.banner-container1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(80, 80, 80, 0.2)), url('../../assets/images/bg-1.jpg');
}

.banner-container2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(80, 80, 80, 0.2)), url('../../assets/images/bg-2.jpg');
}

.banner-container3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(80, 80, 80, 0.2)), url('../../assets/images/bg-3.jpg');
}

.slick-prev {
    position: absolute !important;
    left: 25px !important;
    z-index: 1 !important;
}

.slick-next {
    position: absolute !important;
    right: 25px !important;
    z-index: 1 !important;
}